<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mu.movie.SpHallMapper">
    <cache eviction="LRU" size="512"></cache>
    <select id="selectBySpHall" resultType="com.mu.movie.bean.SpHall">
        select * from sp_hall
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="name != null and name != '' ">
                and name = #{name}
            </if>
        </where>
    </select>
</mapper>