<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserControllerImpl" class="com.mu.controller.Controller">
        <constructor-arg value="控制一号"/>
        <property name="name" value="控制一号"/>
    </bean>

    <bean id="Username" class="com.mu.pojo.User">
        <property name="name" value="zhangsan"/>
    </bean>
</beans>