<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <form action="/upload" method="post" enctype="multipart/form-data">
            文件上传：<br>
            用户名: <input type="text" name="uname" value="zy"><br>
            密码: <input type="password" name="pwd" value="123456"><br>
            头像: <input type="file" name="head"><br>
            照片: <input type="file" name="lifes" multiple><br>
            <input type="submit" value="注册"/>
        </form>
    </center>
</body>
</html>