<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>小萌神订餐网</title>
<!-- 图标 -->
<link rel="short icon" href="image/eat0.ico" />
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
 
  <div id="app">
 
	<div class="head">
		小萌神订餐网
		<div class="right">
			<span class="showlogin" id="showlogin" @click="loginflag=!loginflag" v-if="!islogin">登录</span>
			<span id="exitspan" v-if="islogin">
				欢迎您：{{username}}<a href="javascript:void">历史</a> | <a href="" @click.prevent="logout()">退出</a>
			</span>
		</div>
	</div>
	<div class="content">
		<ul class="allfoods" id="allfoods">
			<li v-for="item in data">
				<h3 @click="showFood(item.fid)">{{item.fname}}</h3>
				<div :id=`fid_${item.fid}` class="fooddesc" v-show="item.status">
					<img :src=`image/${item.fphoto}` class="foodimg" />
					<article class="foodprice">
						<p>菜品描述:{{item.detail}}</p>
						<p class="normalprice">原价:￥{{item.normprice}}</p>
						<p class="realprice">特价:￥{{item.realprice}}</p>
						<p class="buybtn" @click="addCart(item.fid,1)">加入购物车</p>
					</article>
				</div>
			</li>
		</ul>
	</div>
	<!--  <div class="look">浏览记录</div> -->
	<div class="shoppingcar">
		<div class="carbag" id="carbag">
			<p>购物车<span id="del">[清空]</span></p>
			<table id="bagcontent" cellpadding="0" cellspacing="0">
				
			</table>
		</div>
		<div class="carprice">￥0</div>
		<div class="carinfo">购物车是空的</div>
	</div>
	<div class="footer">
		Copyright © 2016 Xiaomengsheng Incorporated Company. All rights reserved.
		<br />
		订餐，就上小萌神订餐网!
	</div>

	<div class="login" id="login" v-if="loginflag">
		<span id="unshow" @click="loginflag=!loginflag">X</span>
		<form name="myform">
			<table>s
				<tr>
					<td class="labname"><label for="username">用户名：</label></td>
					<td><input type="text" name="username" placeholder="请输入用户名"
					id="username" v-model="username"/></td>
				</tr>
				<tr>
					<td class="labname"><label for="pwd">密码：</label></td>
					<td><input type="password" name="pwd" placeholder="请输入密码"
					id="pwd" v-model="pwd"/></td>
				</tr>
				<tr>
					<td class="labname"><label for="yzm">验证码：</label></td>
					<td><input type="text" name="yzm" placeholder="请输入验证码" 
					id="yzm" v-model="valcode"/></td>
					<td><img @click="refreshImg()" src="code.action" id="yzm_img" alt="valcode"/></td>
				</tr>
			</table>
		</form>
		<input type="button" value="login" class="btn" id="btn" @click="login()"/>
	</div>
	
	    <!-- 订单信息 -->
		<div class="login" id="myinfo" v-if="orderflag">
			<span id="unshowinfo" >X</span>
			<form name="forminfo">
				<table>
					<tr>
						<td class="labname"><label for="address">送货地址:</label></td>
						<td><input name="address"  type="text" placeholder="请输入送货地址" id="address" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="tel">联系电话:</label></td>
						<td><input type="text"  id="tel" placeholder="请输入联系电话" name="tel" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="deliverytime">送货时间:</label></td>
						<td><input type="text"  name="deliverytime" id="deliverytime" placeholder="请输入送货时间（默认马上发货）" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="ps">附言:</label></td>
						<td><input type="text" id="ps" placeholder="请输入附言" name="ps" /></td>
					</tr>
				</table>
			</form>
			<input type="button" value="提交" class="btn"  id="submit">
		</div>
</div>

	<!--  在网页里面引入javascript    jquery:DOM   大家注意顺序  -->
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script type="text/javascript">
	     let vm=new Vue({
	    	 el:"#app",
	    	 data:{
	    		 orderflag:false,     //送货地址div
	    		 loginflag:false,
				 islogin:false,
				 username:"a",
				 pwd:"a",
				 valcode:"",
				 data:[],
	    	 },
			 methods: {
				 addCart:function (fid,num){
					if (this.username==null||this.username==''){
						alert("请登录");
						return;
					}
					var params=new URLSearchParams();
					params.append("op","order");
					params.append("num",num);
					params.append("fid",fid);
					axios.post("resorder.action",params).then(data=>{
						var jsonmodel = data.data;
						if (jsonmodel.code==1){
							alert("请登录");
							return;
						}else if (jsonmodel.code==0){
							alert("添加购物车失败");
							return;
						}else {

						}
					})
				 },
				 showFood:function (fid){
					this.data.forEach((item,index)=>{
						item.status = fid == item.fid;
					})
				 },
				 logout: function(){
					axios.post("resuser.action?op=logout").then(data=>{
						var result=data.data;
						if (result.code==1){
							this.username='';
							this.pwd='';
							this.valcode='';
							this.islogin=false;
						}
					});
				 },
				 login:function (){
					console.log("enter");
					var params=new URLSearchParams();
					params.append("op","login");
					params.append("username",this.username);
					params.append("pwd",this.pwd);
					params.append("valcode",this.valcode);
					axios.post("resuser.action?op=login",params).then(data=>{
						let result = data.data;
						if (result.code==0){
							alert("登录失败，原因:"+result.msg);
							return;
						}
						this.username = result.data.username;
						this.loginflag = false;
						this.islogin = true;
						alert("登陆成功");
					});
				 },
				 checkLogin:function (){
					 return axios.get("resuser.action?op=checkLogin")
				 },
				 refreshImg:function () {
					 // 通过event事件对象的target属性获取当前正在点击的img标签
					 var imgEle = event.target;
					 // 设置img标签的src属性
					 imgEle.src = "code.action?" + Math.random();
				 },
				 findAllFoods:function () {
					 return axios.get("resfood.action?op=findAllFoods");
				 }
			 },
			 mounted:function (){
				 axios.all([this.checkLogin(),this.findAllFoods()]).then(axios.spread(function (d1,d2){
					 let jsonmodel1=d1.data;
					 if (jsonmodel1.code==1){
						 vm.$data.username=jsonmodel1.data.username;
						 vm.$data.loginflag=false;
						 vm.$data.islogin=true;
					 }
					 let jsonmodel2=d2.data;
					 if (jsonmodel2.code==1){
						 jsonmodel2.data.forEach((item,index)=>{
							 item.status=false;
						 });
						 vm.$data.data=jsonmodel2.data;
					 }
				 }))
			 }
	     });
	</script>
	
</body>
</html>