@charset "UTF-8";

main>table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

main>table img{
    width: 50px;
    height: 50px;
}

main>table td,main>table th{
    border: 1px solid #fafafa;
    padding: 5px;
}

main>table th{
    background-color: #fafafa;
    color: #999;
    text-align: left;
}

main>div{
    text-align: right;
}

main>div>a>button{
    color: #fff;
    background-color: #ff2424;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}
