@charset "UTF-8";
/********公共样式**********/
/**************** logo + 用户信息 ******************/

*{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, serif;
    color: #666;
}

a{
    text-decoration: none;
}

.c1200{
    width: 900px;
    margin: auto;
}

header>div:nth-child(1){
    display: flex;
    justify-content: space-between;
}

header>div:nth-child(1)>div:nth-child(2)>div{
    height: 30px;
    line-height: 30px;
}

header>div:nth-child(1)>div:nth-child(2)>div>*{
    vertical-align: middle;
}


/*******************导航**********************/
header>div:nth-child(2){
    background-color: #000;
    color: #fff;
}

/*手形鼠标*/
header>div:nth-child(2)>a{
    padding: 5px 10px;
    display: inline-block;
    cursor: pointer;
}

header>div:nth-child(2)>a:hover{
    background-color: #888;
}

footer{
    text-align: center;
}
