@charset "UTF-8";

main{
    display: flex;
    justify-content: space-between;
}

main>div:nth-child(1){
    width: 250px;
    height: 500px;
    background-color: #eee;
}

main>div:nth-child(2){
    width: 630px;
}

main>div:nth-child(2)>img{
    width: 300px;
    height: 300px;
}

main>div:nth-child(2)>div{
    display: inline-block;
}

main>div:nth-child(2)>*{
    vertical-align: top;
}

main>div:nth-child(2) button{
    background-image: url('../images/product.gif');
    background-repeat: no-repeat;
    background-position: 0 -600px;
    width: 120px;
    height: 40px;
    border: 0;
    color: #fff;
}

main>div:nth-child(2)>div>div{
    background-color: #FEFDE5;
    padding: 10px;
}
